//Global
body{
    margin: 0;
    padding: 0;
}

//Varible
.avatar-bg{
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main{
    height: 100vh;
    width: 100%;
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 32px;
        .header-logo{
            a{
                text-decoration: none;
                color: black;
                font-size: 24px;
                font-weight: 700;
            }
        }
        .header-search{
            width: 600px;
            input{
                width: 100%;
                padding: 20px 12px;
                border-radius: 25px;
                background-color: #f3f4f6;
                border: none;
            }
        }
        .header-avatar{
            display: flex;
            .header-avatar-bg{
                background-color: yellow;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                p{
                    text-align: center;
    
                }
            }
        }
    }
    
    .main-container{
        display: grid;
        grid-template-columns: 20% 55% 25%;
        border:2px solid;
        border-color: #e5e7eb;
        .main-left{
            max-width: 100%;
            .main-left-content{
                
                .main-left-content-search{
                    border-bottom:2px  solid;
                    border-color: #e5e7eb;
                    display: flex;
                    justify-content: center;
                    input{
                        padding: 12px 50px;
                        margin: 12px 24px;
                        border-radius: 20px;
                        border: 1px solid #f3f4f6;
                        background-color: #f3f4f6;
                    }
                }
                .main-left-content-user{
                    border-bottom:2px solid;
                    border-color: #e5e7eb;
                    display: flex;
                    align-items: center;
                    .avatar-bg{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 12px;
                        a{
                            text-decoration: none;
                        }
                    }
                    .name{
                        span{
                            display: block;
                            font-size: 14px;
                            font-weight: normal;
                        }
                    }
                }
                .main-left-content-user:last-child{
                    //border-bottom: none;
                }
            }
        }
        .main-body{
            border-left: 2px  solid;
            border-color: #e5e7eb;
    
        }
        .main-right{
            border-left:2px  solid;
            border-color: #e5e7eb;
            padding: 6px 16px;
            img{
                max-width: 80%;
                border-radius: 20px;
            }
    
        }
    }
    .main-body{
        position: relative;
        #chat-content{
            height: 60vh;
            overflow-y: scroll;
            padding-bottom: 20%;
            .chat-user{
                display: flex;
                align-items: center;
                margin: 6px 12px;
                .avatar-bg-chat{
                    width: 40px;
                    height: 40px;
                    background-color: antiquewhite;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 12px;
                }
            }
        }
        .type-chat{
            position: absolute;
            bottom: 5%;
            width: 100%;
            display: flex;
            justify-content: center;

            input{
                padding: 10px 20px;
                width: 90%;
                border-radius: 15px;
                border: none;
                background-color: #f3f4f6;
            }
        }
    }
    .footer-chat{
        background-color: black;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        h3{
            color: #f3f4f6;
            text-align: center;
            padding: 12px 0;
        }
    }
}

.chat-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.chat-content-right{
    background-color: #60a5fa;
    padding: 10px 12px;
    border-radius: 16px 16px 2px 16px;
    color: #f3f4f6;
}
.chat-content-left{
    background-color: #9ca3af;
    padding: 10px 12px;
    border-radius: 16px 16px 16px 2px;
    color: #f3f4f6;
}